---
import { getBannerBenefits } from '@application/use-cases/getBannerBenefits';

const Benefits = await getBannerBenefits();
---
<section class="bg-esmeralda-dark">
  <div class="wrapper container mx-auto py-12 px-4 sm:py-16 sm:px-6 lg:py-20 lg:px-16 text-white">
    <small class="block uppercase text-balance text-sm tracking-wider text-esmeralda mb-2">{Benefits.title}</small>
    <h2 class="text-3xl w-full text-balance sm:text-4xl lg:w-[50%] font-bold leading-tight">{Benefits.headline}</h2>
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 mt-8">
      {
        Benefits.steps.map((step) => (
          <article class="flex flex-col items-center text-center bg-white/10 rounded-2xl p-6 sm:p-8 hover:bg-opacity-20 transition">
            <span class="text-5xl sm:text-6xl md:text-7xl font-semibold text-esmeralda mb-4">{step.value}</span>
            <h3 class="text-xl leading-tight text-balance sm:text-2xl font-bold mb-2">{step.label}</h3>
            <p class="text-sm text-pretty sm:text-base leading-relaxed">{step.description}</p>
          </article>
        ))
      }
  </div>
</section>
  